<div class="col-12 col-lg-6 p-1">
    <div class="card mb-3">
        <div class="row no-gutters align-items-center p-2">
            <div class="col-12 col-md-4">
                <img src="{{ asset('build/images/'~ car.model.image) }}" alt="{{ car.model.name }}" class='img'>
            </div>
            <div class="col">
                <div class="card-body">
                    <h5 class="card-title">{{car.registration}}</h5>
                    <p class="card-text">
                        <div>Marque : {{car.model.mark.name}}</div>
                        <div>Modèle : {{car.model.name}}</div>
                        <div>Nombre de porte : {{car.door}}</div>
                        <div>Annés : {{car.year}}</div>
                        <div>Prix : {{car.model.avgprice}}&euro;</div>
                    </p>
                </div>
            </div>
        </div>
        {% if admin %}
            <div class="row no-gutters">
                <a href="{{ path("update_car", {id:car.id}) }}" class="col btn btn-warning">Modifier</a>
                <form method="POST" class="col" style="display:inline-block" action="{{ path('delete_car', {id:car.id}) }}" onsubmit="return confirm('Confirmer la suppression')">
                    <input type="hidden" name="_method" value="delete">
                    <input type="hidden" name="_token" value="{{csrf_token('SUP' ~ car.id)}}">
                    <input type="submit" class="col btn btn-danger" value="supprimer" >
                </form>
            </div>
        {% endif %}
    </div>
</div>